<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a16788">  <td>20/07/22 17:00:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:com.test.TC001_DataRecency@693fe6c9]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@285133380</td>   <td></td> </tr>
<tr bgcolor="a16788">  <td>20/07/22 17:00:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:com.test.TC001_DataRecency@693fe6c9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@285133380</td>   <td></td> </tr>
<tr bgcolor="a16788">  <td>20/07/22 17:00:39</td>   <td>77</td> <td title="&lt;&lt;ProjectWrappers.afterSuite()[pri:0, instance:com.test.TC001_DataRecency@693fe6c9]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@285133380</td>   <td></td> </tr>
<tr bgcolor="a16788">  <td>20/07/22 17:00:39</td>   <td>1</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterTest()[pri:0, instance:com.test.TC001_DataRecency@693fe6c9]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@285133380</td>   <td></td> </tr>
<tr bgcolor="9061ba">  <td>20/07/22 17:00:10</td>   <td>-28701</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC001_DataRecency.beforeClass()[pri:0, instance:com.test.TC001_DataRecency@693fe6c9]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@285133380</td>   <td></td> </tr>
<tr bgcolor="a16788">  <td>20/07/22 17:00:10</td>   <td>-28699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:com.test.TC001_DataRecency@693fe6c9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@285133380</td>   <td></td> </tr>
<tr bgcolor="a16788">  <td>20/07/22 17:00:10</td>   <td>-28911</td> <td title="&gt;&gt;ProjectWrappers.beforeSuite()[pri:0, instance:com.test.TC001_DataRecency@693fe6c9]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@285133380</td>   <td></td> </tr>
<tr bgcolor="a16788">  <td>20/07/22 17:00:10</td>   <td>-28705</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeTest()[pri:0, instance:com.test.TC001_DataRecency@693fe6c9]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@285133380</td>   <td></td> </tr>
<tr bgcolor="9061ba">  <td>20/07/22 17:00:10</td>   <td>-28699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_DataRecency.dateCheck()[pri:0, instance:com.test.TC001_DataRecency@693fe6c9]">dateCheck</td> 
  <td>main@285133380</td>   <td></td> </tr>
</table>
