<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b96fde">  <td>20/07/17 18:24:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_ConceptSearch.AudienceTestFilter()[pri:0, instance:com.test.TC002_ConceptSearch@62435e70]">AudienceTestFilter</td> 
  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="8ebf60">  <td>20/07/17 18:25:41</td>   <td>64949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_Audience.AudienceTestFilter()[pri:0, instance:com.test.TC003_Audience@339bf286]">AudienceTestFilter</td> 
  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>20/07/17 18:33:44</td>   <td>548041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC006_QuickFilter.AudienceTestFilter()[pri:0, instance:com.test.TC006_QuickFilter@5ed731d0]">AudienceTestFilter</td> 
  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:24:36</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:com.test.TC001_DataRecency@29e6eb25]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:25:41</td>   <td>64948</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:com.test.TC002_ConceptSearch@62435e70]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:27:14</td>   <td>158060</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:com.test.TC003_Audience@339bf286]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:28:12</td>   <td>215788</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:com.test.TC004_Profiles@38be305c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:33:44</td>   <td>548040</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:com.test.TC005_CreateSavedAudience@269f4bad]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:36:13</td>   <td>697285</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:com.test.TC006_QuickFilter@5ed731d0]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:24:36</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:com.test.TC001_DataRecency@29e6eb25]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:25:41</td>   <td>64948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:com.test.TC002_ConceptSearch@62435e70]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:27:14</td>   <td>158060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:com.test.TC003_Audience@339bf286]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:28:12</td>   <td>215787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:com.test.TC004_Profiles@38be305c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:33:44</td>   <td>548040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:com.test.TC005_CreateSavedAudience@269f4bad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:36:13</td>   <td>697284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:com.test.TC006_QuickFilter@5ed731d0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:36:13</td>   <td>697311</td> <td title="&lt;&lt;ProjectWrappers.afterSuite()[pri:0, instance:com.test.TC001_DataRecency@29e6eb25]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:36:13</td>   <td>697285</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterTest()[pri:0, instance:com.test.TC001_DataRecency@29e6eb25]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="beaa89">  <td>20/07/17 18:23:54</td>   <td>-41740</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC001_DataRecency.beforeClass()[pri:0, instance:com.test.TC001_DataRecency@29e6eb25]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b96fde">  <td>20/07/17 18:24:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC002_ConceptSearch.beforeClass()[pri:0, instance:com.test.TC002_ConceptSearch@62435e70]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="8ebf60">  <td>20/07/17 18:25:41</td>   <td>64949</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC003_Audience.beforeClass()[pri:0, instance:com.test.TC003_Audience@339bf286]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="a0b76e">  <td>20/07/17 18:27:14</td>   <td>158061</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC004_Profiles.beforeClass()[pri:0, instance:com.test.TC004_Profiles@38be305c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>20/07/17 18:28:12</td>   <td>215790</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC005_CreateSavedAudience.beforeClass()[pri:0, instance:com.test.TC005_CreateSavedAudience@269f4bad]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>20/07/17 18:33:44</td>   <td>548041</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC006_QuickFilter.beforeClass()[pri:0, instance:com.test.TC006_QuickFilter@5ed731d0]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:23:54</td>   <td>-41725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:com.test.TC001_DataRecency@29e6eb25]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:24:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:com.test.TC002_ConceptSearch@62435e70]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:25:41</td>   <td>64949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:com.test.TC003_Audience@339bf286]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:27:14</td>   <td>158062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:com.test.TC004_Profiles@38be305c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:28:12</td>   <td>215792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:com.test.TC005_CreateSavedAudience@269f4bad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:33:44</td>   <td>548041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:com.test.TC006_QuickFilter@5ed731d0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:23:54</td>   <td>-42038</td> <td title="&gt;&gt;ProjectWrappers.beforeSuite()[pri:0, instance:com.test.TC001_DataRecency@29e6eb25]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>20/07/17 18:23:54</td>   <td>-41755</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeTest()[pri:0, instance:com.test.TC001_DataRecency@29e6eb25]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="beaa89">  <td>20/07/17 18:23:54</td>   <td>-41720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_DataRecency.dateCheck()[pri:0, instance:com.test.TC001_DataRecency@29e6eb25]">dateCheck</td> 
  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="a0b76e">  <td>20/07/17 18:27:14</td>   <td>158062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004_Profiles.profileTest()[pri:0, instance:com.test.TC004_Profiles@38be305c]">profileTest</td> 
  <td>main@1731295355</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>20/07/17 18:28:12</td>   <td>215793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC005_CreateSavedAudience.savedAudience()[pri:0, instance:com.test.TC005_CreateSavedAudience@269f4bad]">savedAudience</td> 
  <td>main@1731295355</td>   <td></td> </tr>
</table>
